.hamburger {
    text-align: center;
    display: block
}

.dropdown-menu li {
	width: 100%
}



.btn-search {
    margin: 25px 0 0 0;
    padding: 5px 45px;
    border: 1px solid #ccc;
    background: transparent;
    display: inline-block;
    border-radius: 0;
    color: #337ab7;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold
}

.menu-list {
    margin: 20px 0 0 0
}

.menu-list li {
    list-style: none;
    color: #9da0a3;
    display: inline-block;
    font-size: 12px;
    margin: 0 5px 0 0
}

.menu-list li:after {
    content: ' | '
}

.menu-list li:last-child:after {
    content: ''
}

.menu-list .content_none:after {
        content: none;
}

.menu-list li a {
    color: #000000
}

#carousel-example-generic {
    margin: 20px 0 0 0
}

#carousel-example-generic .carousel-indicators {
    left: 80px;
}

#carousel-example-generic .carousel-indicators li {
    border-color: #14539a
}

#carousel-example-generic .carousel-indicators li.active {
    background-color: #14539a
}

.item {
    /* height:400px; */
}

.item .carousel-caption {
    left: 60px;
    top: 50px;
    right: inherit;
    color: #337ab7;
    text-shadow: none
}

.item .carousel-caption h3 {
    font-weight: bold;
    color: #14539a;
    font-size: 18px;
    margin-bottom:30%;
}

.item .carousel-caption p {
    font-size: 22px;
    padding: 10px 0 0 0
}

.content h3 {
    font-size: 24px;
    color: #14539a;
    font-weight: bold
}

.border-grad {
   /* border-width: 4px 0 0 0;*/
  border-width: 5px 0 0 0;
    -webkit-border-image: -webkit-gradient(linear, 50% 0, 0 0, from(#9da0a3), to(rgba(0, 0, 0, 0)));
    -webkit-border-image: -webkit-linear-gradient(left, #9da0a3, rgba(0, 0, 0, 0)) 100% 1;
    -o-border-image: -o-linear-gradient(left, #9da0a3, rgba(0, 0, 0, 0)) 100% 1;
	-o-border-image: -o-gradient(linear, 50% 0, 0 0, from(#9da0a3), to(rgba(0, 0, 0, 0)));
    
	-moz-border-image: -moz-gradient(linear, 50% 0, 0 0, from(#9da0a3), to(rgba(0, 0, 0, 0)));
	-moz-border-image: -moz-linear-gradient(left, #9da0a3, rgba(0, 0, 0, 0)) 100% 1;
	
	
	
}

.content {
    margin: 20px 0 20px 0;
    padding: 0 0 0 0;
   /* border-left: 2px solid #9da0a3*/
   border-left: 5px solid #9da0a3
   
}

.content .more-news {
    padding: 10px 0 10px 0
}

.content .more-news a {
    color: #337ab7;
    text-transform: uppercase;
    font-weight: bold
}

.content:before {
    content: '';
    display: block;
    height: 100%;
    border-bottom-left-radius: 3px solid #9da0a3
}

.news {
    margin: 5px 0 200px 0;
    position: relative
}

.news .news-container:last-child.news-item {
    border-bottom: 0
}

.news-item {
    border-width: 0 0 0 0;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 0 10px 0;
}

.news-item:hover {
  background-color: #f2f2f2;
  }

.news-item{border-bottom:2px solid #DCDCDC;}
.news-item:nth-last-child(1) {border-bottom:0 none;}
.news-item .first-child {margin-top:0px;}

.news-item .border-bottom {
    display: block;
    height: 1px;
    background: #9da0a3
}

.news-item:first-child {
    border-top: 0
}

.news-item h2 {
    padding: 0 0 0 0;
    margin: 0;
    color: ##9BA7C2;
    font-size: 18px;
}

.news-item h2 a {
    color: #9BA7C2;
    font-size: 18px;
}

.news-item small {
    color: #14539a;
    font-size: 14px;
    display: block;
    margin: 10px 0 10px 0
}

.news-item h3 {
    font-size: 18px;
}
.new-item a{
    color: #666666;
}
.new-item a:hover {
    text-decoration: none;
}


.year {
    text-align: center;
    font-size: 18px;
    padding: 5px
}

.year b {
    /*line-height: 60px;
    color: #337ab7;
    font-size: 18px;
    display: inline-block;
    font-weight: normal;
    width: 60px;
    height: 60px;
    border-radius: 60px;   
    background: @white*/
}

.sticky-wrapper {
    position: absolute
}

.short-menu {
    position: absolute;
    width: 100px !important
}

.short-menu a {
    display: block;
    margin: 10px 0 40px 0;
	line-height: 60px;
    color: #337ab7;
    font-size: 18px;
    display: inline-block;
    font-weight: normal;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: 4px solid #337ab7;    

    background: #fff;
}

.short-menu a.active {
    background: #337ab7;
    color: white;
}

.short-menu a:hover{	
    background: #337ab7;
    color: white;
}

.line {
    width: 4px;
    height: 820px;
    margin: 0 auto;
    background: #337ab7;
    left: 47px;
    position: absolute;
    z-index: -1
}
.line-news {
    width: 4px;
    height: 300px;
    margin: 0 auto;
    background: #337ab7;
    left: 47px;
    position: absolute;
    z-index: -1
}
.line.md {
    left: 40px
}

.line.sm {
    left: 60px
}

.main-page {
    margin: 10px 0 20px 0
}

.main-page h4 {
    font-size: 24px;
    color: #14539a;
    font-weight: bold;
    text-transform: uppercase
}

.main-page p {
    color: #666666;
    font-size: 16px;
    line-height: 22px;
    padding: 0 0 5px 0
}

.main-page .read-more {
    background: #337ab7;
    color: #fff;
    padding: 10px 25px;
    text-transform: uppercase
}

.main-page .mainimage {
    margin: 30px 0 0 0;
    display: inline-block
}

.border-left-1 {
    left: 0;
    position: absolute;
    height: 65px;
    width: 6px;
    background: #14539a
}

.border-left-2 {
    left: 6px;
    top: 10px;
    position: absolute;
    height: 45px;
    width: 4px;
    background: #337ab7
}

.icons-layer h3 {
    font-size: 16px;
    color: #14539a;
    font-weight: bold;
}

.row-icon {
    text-align: center;
    background: #183965;
    height: 300px;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff
}

.row-icon.light {
    background: #0060a4
}
.row-icon.white {
    text-align: center;
    background: #fff;
    height: 150px;
    border: #9da0a3 1px solid;
}


.row-icon a.header.white {
    color: #999999;
    /*font-size: 20px;*/
    text-decoration: none;
    text-transform: uppercase;
    text-shadow:none;
}
div.news-describ p{
    font-size: 18px;
    text-align: justify;
    color: #666666;
    font-weight: normal;
}
div.news-describ h2{
    font-size: 18px;
    text-align: justify;
    color: #666666;
    font-weight: bold;
}

div.news-describ h3{
    font-size: 18px;
    text-align: justify;
    color: #666666;
}

.row-icon a.header.white:hover {
    text-decoration: none
}
.row-icon a.header {
    text-shadow: 0 1px 4px #337ab7;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase
}
.row-icon a.header:hover {
    text-decoration: none
}

.short-menu a.active { 
    background-color:  #337ab7;
}

.row-icon img {
    height: 160px;
    margin: 10px auto 10px auto
}
.white img {
    height: 50px;
    margin: 10px auto 10px auto
}

.row-icon a.header {
    text-shadow: 0 1px 4px #337ab7;
    color: rgba(255, 255, 255, 0.8);
    /*font-size: 20px;*/
    text-decoration: none;
    text-transform: uppercase
}

.row-icon a.header:hover {
    text-decoration: none
}

.row-icon small {
    color: #337ab7;
    display: block;
    text-align: center;
    margin: 5px 0 0 0
}

.row-icon .read-more {
    display: inline-block;
    font-size: 12px;
    margin: 20px 0 0 0;
    background: #337ab7;
    color: #fff;
    padding: 5px 15px;
    text-transform: uppercase
}

.footer-items {
    margin: 200px 0 0 0;
    border-top: 1px solid #9da0a3;
    padding: 20px 0;
    line-height: 30px
}

.footer-items b {
    display: block;
    margin: 5px 0 0 0
}

.footer-items address {
    margin: 0
}

.footer-items-list ul{list-style:none; margin:0; padding:0;}
.footer-items-list ul li{list-style:none; width:auto; float:left;}

.footer {
    padding: 20px 20px;
    margin: 0 0 0 0;
    font-size: 12px
}

.footer a {
    color: #fbc0aa
}

.micon {
    display: inline-block;
    /* width: 30px;
    height: 30px; */
	width: 25px;
    height: 25px;
    /* margin: 0 10px 0 0; */
	margin: 0 7px 0 0;
    top: 10px;
    position: relative;
    background-image: url('../img/homepage/footer-icons-set.png');
	background-size: 70px 85px;
}
.micon1 {
    display: inline-block;
    /* width: 30px;
    height: 30px; */
    width: 25px;
    height: 25px;
    /* margin: 0 10px 0 0; */
    margin: 0 7px 0 0;
    top: 10px;
    position: relative;
}

.micon.icon-research {
/*     background-position: 0 0 */
    background-position: 0 0
}

.micon.icon-topic {
    /* background-position: 0 81px */
	background-position: 0 55px
}

.micon.icon-people {
    /* background-position: 0 39px */
	background-position: 0 25px
}

.micon.icon-publications {
    /* background-position: 70px 0 */
	background-position: 45px 0
}

.micon.icon-news {
/*     background-position: 70px 81px */
    background-position: 45px 55px
}

.micon.icon-collaboration {
/*     background-position: 70px 39px */
    background-position: 45px 25px
}

.micon.icon-about {
/*     background-position: 140px 0 */
    background-position: 95px 0
}

.micon.icon-contact {
    /* background-position: 140px 81px */
	background-position: 95px 55px
}

.micon.icon-home {
    /* background-position: 140px 39px */
	background-position: 95px 25px
}

footer {
    background-image: url('../img/footer-background.png');
    background-position: bottom center;
    background-size: cover;
    margin-top: 50px;
}

.hero-image {
    margin: 20px 0 0 0;
    height: 100%;
}

.content-hero-img {
    position: relative;
	width: auto;
    top: -25px;
    max-height: 340px;
    float: right;
}

.bottom-hero-img {
    position: relative;
    top: -80px;
    margin: 0 0 -40px 0
}

.bottom-header {
    margin: 40px 0 0 0;
    background: #14539a
}

.bottom-header h3 {
    color: #fff;
    text-align: center;
    padding: 2px 0 7px 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight:bold;
}

.bottom-text {
    background-image: url('../img/background.png');
    background-position: center center;
    background-size: cover
}

.bottom-text p {
    padding: 10px 20px
}

h2.blue-hero {
    color: #fff;
    padding: 6px 10px;
    background: -webkit-linear-gradient(left, #337ab7, #fff);
    background: -o-linear-gradient(right, #337ab7, #fff);
    background: -moz-linear-gradient(right, #337ab7, #fff);
    background: linear-gradient(to right, #337ab7, #fff);
    font-size:18px;
    font-weight:bold;
}

.grad {
    background: -webkit-linear-gradient(left, #337ab7, #fff);
    background: -o-linear-gradient(right, #337ab7, #fff);
    background: -moz-linear-gradient(right, #337ab7, #fff);
    background: linear-gradient(to right, #337ab7, #fff)
}


.spacer {
    height: 20px
}

.news-hero {
    margin: 20px 0 20px 0;
    width: 100%;
    background-image: url('../img/news/hero-image.jpg');
    background-position: center center;
    background-size: cover
}
.collaboration-hero {
    margin: 20px 0 20px 0;
    width: 100%;
    background-image: url('../img/collaboration/hero-image.jpg');
    background-position: center center;
    background-size: cover
}
.recruitment-hero {
    margin: 20px 0 20px 0;
    width: 100%;
}
.contact-hero {
    margin: 20px 0 20px 0;
    width: 100%;
}
.team-hero {
    margin: 20px 0 20px 0;
    width: 100%;
    height: @hero-height;
    background-image: url('../img/team/hero-image.jpg');
    background-position: center center;
    background-size: cover
}
}
.aboutus-hero {
  margin: 20px 0 20px 0;
  height: @hero-height;
  width: 100%;
}
.publications-hero {
  margin: 10px 0 20px 0;
  height: @hero-height;
  width: 100%;
}

.topic-hero {
  margin: 20px 0 20px 0;
  height: @hero-height;
  width: 100%;
}


.border-top {
    background: #9da0a3;
    height: 1px;
    z-index: 1;
    position: relative;
    margin: -20px 0 20px 0
}

.year-navi {
    margin: 20px 0
}
.active

.years {
    text-align: center
}

.years a {
    z-index: 3;
    position: relative;
    text-decoration: none
}

.years a i:after {
    content: ' \25CF';
    font-size: 35px;
    color: #14539a;
    display: block;
    margin: -20px;
    z-index: 2;
    position: relative
}

.border {
    height: 1px;
    background: #9da0a3;
    margin: 20px 0
}

.blue-border {
    background: -webkit-linear-gradient(left, #337ab7, #fff);
    background: -o-linear-gradient(right, #337ab7, #fff);
    background: -moz-linear-gradient(right, #337ab7, #fff);
    background: linear-gradient(to right, #337ab7, #fff);
    height: 3px;
    margin: 20px 0 20px 0
}

.row-hero {
    overflow-x: hidden;
    margin: 20px 0 10px 0;
    height: 360px;
    color: #fff
}

.row-hero .inner-hero-icon {
    padding: 10px
}

.row-hero .back {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover
}

.row-hero h2 {
    font-weight: bold;
    font-size: 26px;
    padding: 20px 0
}

.row-hero p {
    font-size: 20px;
    padding: 10px 0
}

.project-list {
    margin: 20px 0 0 0
}

.project-list li {
    list-style: none;
    margin: 0 0 45px 0;
	text-align:left;
}
.project-list a {
    font-size: 14px;
}

.border-gray {
    height: 1px;
    background: #9da0a3;
    margin: 20px 0
}

.btn-primary {
    background: #337ab7;
    border-color: #337ab7
}

.blue-header {
    color: #337ab7;
    padding: 20px 0
}

.m-phone {
    display: inline-block;
    width: 30px;
    position: relative;
    top: 10px;
    height: 30px;
    margin: 0 5px 0 15px
}

.m-at {
    position: relative;
    top: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px 0 15px 
}

.m-fax {
  position: relative;
  top: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;

  margin: 0 5px 0 15px
}
.m-phone-left {
    display: inline-block;
    /* width: 30px;
    height: 30px; */
    position: relative;
    top: 10px;
    width: 27px;
    height: 27px;

    /* margin: 0 10px 0 0 */
	margin: 0 5px 0 0
}

.m-at-left {
    position: relative;
    top: 10px;
    display: inline-block;
    /* width: 30px;
    height: 30px; */
	width: 27px;
    height: 27px;

    /* margin: 0 10px 0 0 */
	margin: 0 7px 0 0
}

.m-fax-left {
	position: relative;
	top: 10px;
	display: inline-block;
	/* width: 30px;
	height: 30px; */
	width: 27px;
	height: 27px;

	/* margin: 0 10px 0 0 */
	margin: 0 7px 0 0
}

.full-news-item {
    min-height: 800px
}

.min-height-700 {
    min-height: 700px
}

.def-hero {
    margin: 20px 0 10px 0;
    height: 360px
}

#carousel {
    width: 100%;
    height: 400px;
    position: relative;
    clear: both;
    overflow: hidden;
    text-align: center;
}

#carousel img {
    visibility: hidden;
    cursor: pointer
}

#prev {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20px;
    background-image: url('../img/left.png');
    z-index: 6
}

#next {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 20px;
    background-image: url('../img/right.png');
    z-index: 6
}

.icon {
    width: 45px;
    height: 45px;
    display: inline-block;
    background-image: url('../img/icons.png');
    background-size: 100px;
    position: relative;
    top: 14px;
    margin: 0 10px 0 0;
    display:inline-block;
}
.icon-nobg {
    width: 45px;
    height: 45px;
    display: inline-block;
    background-size: 45px 45px;
    position: relative;
    top: 14px;
    margin: 0 10px 0 0;
    display:inline-block;
}

.icon-nobg.i-1 {
    background-image: url('../img/icon/i-1.png');
}

.icon-nobg.i-2 {
    background-image: url('../img/icon/i-2.png');
}

.icon-nobg.i-3 {
    background-image: url('../img/icon/i-3.png');
}

.icon-nobg.i-4 {
    background-image: url('../img/icon/i-4.png');
}

.icon-nobg.i-5 {
    background-image: url('../img/icon/i-5.png');
}

.icon-nobg.i-6 {
    background-image: url('../img/icon/i-6.png');
}

.icon-nobg.i-7 {
    background-image: url('../img/icon/i-7.png');
}

.icon-nobg.i-8 {
    background-image: url('../img/icon/i-8.png');
}
.icon-nobg.i-9 {
    background-image: url('../img/icon/i-9.png');
}



.border-grad{height:5px;}
/*.news-item{border-bottom:2px solid gray;}*/
.banking-contain{min-height:500px; height:auto;}
.min-contain{min-height:500px; height:auto;}


.table  tbody tr td{border:0 none;}
.footar-item-box ul {list-style:none;    margin: 0;    padding: 0;}
.footar-item-box ul li{list-style:none;}
@media only screen and (min-width:768px) and (max-width:900px) {
	.project-list{padding:0;}
	.project-list li a{font-size:12px;}
	
}

@media only screen and (min-width:600px) and (max-width:767px) {
	.item .carousel-caption{top:50px; left:15px;padding:0; height:auto; text-align: middle;}
	.carousel-inner > .item{height:auto;}
	/*.item .carousel-caption h3{font-size:23px;}*/
	.item .carousel-caption p{font-size:18px;}
	.carousel-caption{width:65%;}
	
}


@media only screen and (min-width:568px) and (max-width:599px) {
	.item .carousel-caption{top:30px; left:15px;padding:0; height:auto;}
	.carousel-inner > .item{height:auto;}
	.item .carousel-caption h3{font-size:18px;}
	.item .carousel-caption p{font-size:18px;}
	.carousel-caption{width:60%;}	
}

@media only screen and (min-width:480px) and (max-width:567px) {
	.item .carousel-caption{top:30px; left:15px;padding:0; height:auto;}
	.carousel-inner > .item{height:auto;}
	.item .carousel-caption h3{font-size:18px;}
	.item .carousel-caption p{font-size:15px;}
	.carousel-caption{width:60%;}
	.footar-item-box ul li{text-align:center;}
	.footar-item-box ul li a{width:100%;float:left;}
	.project-list li{text-align:center;}
	.project-list li a{width: 100%;float: left;}
	.project-list li .icon{top:0;}
	
}


@media only screen and (min-width:370px) and (max-width:479px) {
	.item .carousel-caption{top:10px; left:15px;padding:0; height:auto;}
	.carousel-inner > .item{height:auto;}
	.item .carousel-caption h3{font-size:18px;}
	.item .carousel-caption p{font-size:14px;}
	.carousel-caption{width:50%;}
	.footar-item-box{padding: 0px 4px;}
	.footar-item-box ul li{text-align:center;}
	.footar-item-box ul li a{width:100%;float:left;}
	.footer-items-list ul li{width:100%;}
	.m-at {    margin: 0 5px 0 15px;}
	.project-list li{text-align:center;}
	.project-list li a{width: 100%;float: left;}
	.project-list li .icon{top:0;}
}

@media only screen and (min-width:320px) and (max-width:369px) {
	
	.item .carousel-caption{top:10px; left:15px;padding:0; height:auto;}
	.carousel-inner > .item{height:auto;}
	.item .carousel-caption h3{font-size:14px;}
	.item .carousel-caption p{font-size:8px;}
	.carousel-caption{width:50%;}
/*	.logo {    background-size: 100% 100%;    width: 100%;}*/
	.footar-item-box{padding: 0px}
	.footer-items-list ul li{width:100%;}
	.m-at {    margin: 0 5px 0 15px;}
	.project-list li{text-align:center;}
	.project-list li a{width: 100%;float: left;}
	.project-list li .icon{top:0;}
}


/* @media only screen and (min-width:240px) and (max-width:319px) {
	.footar-item-box {width:100%;  } 
	.footar-item-box ul li a{    width: 100%;    float: left;}
	.item .carousel-caption{left:0;height: auto;top:0;}
	.carousel-inner > .item{height:auto;}
	.carousel-caption{position:relative;padding:0;}
	.item .carousel-caption h3{font-size:14px;}
	.item .carousel-caption p{font-size:12px;}
	.logo {    background-size: 100% 100%;    width: 100%;}
	.m-at {    margin: 0 5px 0 15px;}
	.project-list{padding:0;}
	.footer-items-list ul li{width:100%;}
	.project-list li{text-align:center;}
	.project-list li a{width: 100%;float: left;}
	.project-list li .icon{top:0;}
} */


@media only screen and (min-width:240px) and (max-width:991px) {
	.hidden-xs {
		display: none!important;
	}
	.menu-list li {
		font-size:11px !important;
	}
	.content-hero-img{
		top: 0px !important;
        max-height: none;
        width: 100%;
	}
}

@media only screen and (min-width:449px) and (max-width:991px) {

    .logo-text {
        font-size: 24px;
    }      
}


/*col-lg*/
@media only screen and (min-width:1200px) and (max-width: 1600px ){
    .row-icon a.header{
        font-size:15px;
    }
    .row-icon a.header.white {
        font-size:12px;
    }   	

}
/*col-md*/
@media only screen and (min-width:992px) and (max-width:1199px) {
	.menu-list li {
		font-size:14px !important;
	}
    .row-icon a.header{
        font-size:15px;
    } 
    .row-icon a.header.white {
        font-size:12px;
    }      

}
/*col-sm*/
@media only screen and (min-width:768) and (max-width:991) {
    .row-icon a.header{
        font-size:15px;
    }
    .row-icon a.header.white {
        font-size:12px;
    }   	
}
/*col-xs*/
@media only screen and (min-width:320px) and (max-width:767px) {
	.bottom-header {
		margin: 40px 15px 0 15px;
	}
    .row-icon a.header{
        font-size:15px;
    }
    .row-icon a.header.white {
        font-size:12px;
    }   
}
@media only screen and (min-width:320px) and (max-width:448px) {

    .logo-text {
        font-size: 18px;
    }
    .logo {
        width: 90%;
    }      
}
/*@media only screen and (min-width:320px) and (max-width:767px) {

    .logo-text {
        font-size: 23px;
    }      
}
*/

/*For landscape only*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .col-xsl-6{ width: 50%; }
    .row-icon a.header {
        font-size:15px;
    }
    .row-icon a.header.white {
        font-size:12px;
    } 
    .row-icon img {
        margin-bottom: 10px;
    }         
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .col-xsl-4{ width: 33%; 
    }
    .row-icon a.header {
        font-size:15px;
    }
    .row-icon a.header.white {
        font-size:12px;
    }  
    .row-icon img {
        margin-bottom: 10px;
    }    

}


.news-item p {
    text-align: justify;
    color: #666666;
    margin: 5px 0 5px 0;
}
.news-item h3 {
    color: #666666;
    font-style: italic;
    font-size: 14px;
    margin:5px 0 5px 0;
}
.news-item h2 {
    color: #666666; font-weight:bold;
}
.news-item h2 a{
    color: #666666;
}
.news-ab {
    color: #666666;
}
.col-lg-12 {
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
}
.spacing-contain {
    min-height: 100px;
}
.dropdown:hover .dropdown-menu {
display:block;
}
.dropdown-menu:hover {
display:block;
}
.dropdown-menu li {
width: 100%
}
.menu-list .content_none:after {
content: none;
} 